.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: --spacing(4);
  background-image: linear-gradient(
    45deg,
    var(--color-amber-700) 0%,
    var(--color-violet-700) 5%
  );
}

.hamburger {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  padding: --spacing(2) --spacing(4);
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  color: var(--color-white);
  font-weight: 500;
  font-size: var(--text-sm);

  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);

  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.hamburger:hover {
  background-color: var(--color-indigo-800);
}

.hamburger:focus {
  outline: 1px solid var(--color-amber-500);
  outline-offset: 2px;
}

.navLink {
  display: block;
  padding: --spacing(2) --spacing(4);
  border-radius: var(--radius-lg);
  color: var(--color-slate-300);
  white-space: nowrap;
  transition-duration: 100ms;
  transition-property: color, background-color;
  transition-timing-function: var(--ease-in-out);
}

.navLink:focus {
  outline: 2px solid var(--color-amber-500);
  outline-offset: 2px;
  background-color: var(--color-violet-800);
}

.navLink:hover {
  background-color: var(--color-violet-800);
  color: var(--color-white);
}

.navLink:not(.navHome) {
  width: 100%;
}

.dropdown {
  display: contents;
  position: absolute;
  top: 100%;
  right: 0;
  width: --spacing(56);
  margin-top: --spacing(2);
  transform-origin: top right;
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  box-shadow: var(--shadow-lg);
}

.dropdown:focus {
  outline: none;
}

.hyperlink {
  border-radius: var(--radius-sm);
  color: var(--color-violet-700);
  font-weight: 600;
}

.hyperlink:focus,
.hyperlink:hover {
  margin: calc(-1 * var(--spacing));
  padding: --spacing(1);
  background-color: var(--color-amber-400);
}
