.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: theme(padding.4);
  background-image: linear-gradient(
    45deg,
    theme("colors.amber.700") 0%,
    theme("colors.violet.700") 5%
  );
}

.hamburger {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  padding: theme(padding.2) theme(padding.4);
  border: 1px solid transparent;
  border-radius: theme(borderRadius.md);
  color: theme(colors.white);
  font-weight: theme(fontWeight.medium);
  font-size: theme(fontSize.sm);

  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hamburger:hover {
  background-color: theme(backgroundColor.indigo.800);
}

.hamburger:focus {
  outline: 1px solid theme(outlineColor.amber.500);
  outline-offset: theme(outlineOffset.2);
}

.navLink {
  display: block;
  padding: theme(padding.2) theme(padding.4);
  border-radius: theme(borderRadius.lg);
  color: theme(colors.slate.300);
  white-space: nowrap;
  transition-duration: theme(transitionDuration.100);
  transition-property: color, background-color;
  transition-timing-function: theme(transitionTimingFunction.in-out);
}

.navLink:focus {
  outline: 2px solid theme(outlineColor.amber.500);
  outline-offset: theme(outlineOffset.2);
  background-color: theme(backgroundColor.violet.800);
}

.navLink:hover {
  background-color: theme(backgroundColor.violet.800);
  color: theme(colors.white);
}

.navLink:not(.navHome) {
  width: 100%;
}

.dropdown {
  display: contents;
  position: absolute;
  top: 100%;
  right: 0;
  width: theme(width.56);
  margin-top: theme(margin.2);
  transform-origin: top right;
  border-radius: theme(borderRadius.md);
  background-color: theme(backgroundColor.white);

  @apply shadow-lg ring-1 ring-black ring-opacity-5;
}

.dropdown:focus {
  outline: none;
}

.hyperlink {
  border-radius: theme(borderRadius.DEFAULT);
  color: theme(colors.violet.700);
  font-weight: theme(fontWeight.semibold);
}

.hyperlink:focus,
.hyperlink:hover {
  margin: calc(-1 * theme(margin.1));
  padding: theme(padding.1);
  background-color: theme(backgroundColor.amber.400);
}
