services:
  mongo:
    image: mongo:latest@sha256:22efa34b961bbc34e9f145746b0f90ef7d6278675e54431b356008901210bc34
    ports:
      - "27017:27017"
    command:
      - --storageEngine=wiredTiger
    volumes:
      - data:/data/db
    logging:
      driver: none

volumes:
  data:
  node_modules:
