services:
  mongo:
    image: mongo:latest@sha256:e64a984d36b24419327c558b49a9100cf78191706222da6a7c8cf56a743ad3db
    ports:
      - "27017:27017"
    command:
      - --storageEngine=wiredTiger
    volumes:
      - data:/data/db
    logging:
      driver: none

volumes:
  data:
  node_modules:
