@reference "../../../styles/index.css";

.rich-text {
  h1 {
    margin-block: --spacing(8);
    font-weight: 700;
    font-size: var(--font-size-2xl);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-tight);
  }

  a {
    margin-inline: calc(-1 * var(--spacing));
    padding-inline: --spacing(1);
    border-radius: var(--radius-sm);
    color: var(--color-purple-800);
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 2px;

    :hover {
      background-color: var(--color-yellow-300);
    }
  }

  p {
    margin-top: --spacing(2);
    color: var(--color-gray-900);
  }

  ul {
    margin-block: --spacing(2);
    list-style-position: outside;
    list-style-type: disc;
  }

  li {
    margin-left: --spacing(8);
  }
}

@variant md {
  .rich-text {
    h1 {
      font-size: var(--font-size-4xl);
      letter-spacing: var(--tracking-tighter);
    }
  }
}
