.nav {
  display: flex;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    theme("colors.amber.700") 0%,
    theme("colors.violet.700") 5%
  );
}

.hamburger {
  display: inline-flex;
  align-items: center;
  margin: theme(margin.4);
  margin-left: auto;
  padding: theme(padding.2) theme(padding.4);
  border: 1px solid transparent;
  border-radius: theme(borderRadius.md);
  background-color: transparent;
  color: theme(colors.white);
  font-weight: theme(fontWeight.medium);
  font-size: theme(fontSize.sm);
  @apply shadow-sm
      hover:bg-violet-900
      focus:outline
      focus:outline-offset-2
      focus:outline-amber-500
      md:hidden;
}

*:not(.dropdown) .navLink {
  margin: theme(margin.4) theme(margin.1);
  whitespace: nowrap;
  padding: theme(padding.2) theme(padding.4);
  border-radius: theme(borderRadius.lg);
  color: theme(colors.slate.300);
  transition-duration: theme(transitionDuration.100);
  transition-property: color, background-color;
  transition-timing-function: theme(transitionTimingFunction.in-out);
  @apply lg:px-4;
}

*:not(.dropdown) .navLink:focus {
  outline: 2px solid theme(outlineColor.amber.500);
  outline-offset: theme(outlineOffset.2);
  background-color: theme(backgroundColor.violet.800);
  color: theme(colors.white);
}

*:not(.dropdown) :not(span).navLink {
  @apply hover:bg-violet-800
    hover:text-white;
}

.navLink:not(.navHome) {
  width: 100%;
  padding-inline: theme(padding.2);
}

.dropdown {
  display: contents;
  position: absolute;
  top: 100%;
  right: 0;
  width: theme(width.56);
  margin-top: -theme(margin[0.5]);
  transform-origin: top right;
  border-radius: theme(borderRadius.md);
  background-color: theme(backgroundColor.white);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  @apply ring-1
      ring-black
      ring-opacity-5;
}

.dropdown:focus {
  outline: none;
}

.dropdown .navLink {
  margin: auto;
}

.dropdown span.navLink {
  margin: auto;
  margin-top: theme(margin.4);
  color: theme(colors.yellow.500);
  font-weight: theme(fontWeight.semibold);
}

.hyperlink {
  border-radius: theme(borderRadius.DEFAULT);
  color: theme(colors.violet.700);
  font-weight: theme(fontWeight.semibold);
}

.hyperlink:focus,
.hyperlink:hover {
  margin: -theme(margin.1);
  padding: theme(padding.1);
  background-color: theme(backgroundColor.amber.400);
}

@screen sm {
  .navLink:not(.navHome) {
    width: auto;
  }

  .dropdown {
    display: block;
  }

  .dropdown .navLink {
    color: theme(colors.gray.900);
  }
}

@screen lg {
  .nav {
    padding-inline: theme(padding.4);
  }

  *:not(.dropdown) .navLink {
    padding-inline: theme(padding.4);
  }

  .navLink:not(.navHome) {
    padding-inline: theme(padding.4);
  }
}
