.nav {
  @apply sticky 
    top-0
    flex
    w-full
    flex-wrap
    justify-between
    lg:px-4;
  background-image: linear-gradient(
    45deg,
    theme("colors.amber.700") 0%,
    theme("colors.violet.700") 5%
  );
}

.hamburger {
  @apply m-4
      ml-auto
      inline-flex
      items-center
      rounded-md
      border
      border-transparent
      bg-transparent
      px-4
      py-2
      text-sm
      font-medium
      text-white
      shadow-sm
      hover:bg-violet-900
      focus:outline
      focus:outline-offset-2
      focus:outline-amber-500
      md:hidden;
}

*:not(.dropdown) .navLink {
  @apply mx-1
      my-4
      whitespace-nowrap
      rounded-lg
      px-4
      py-2
      text-slate-300
      transition-colors
      duration-100
      ease-in-out
      focus:bg-violet-800
      focus:text-white
      focus:outline-2
      focus:outline-offset-2
      focus:outline-amber-500
      lg:px-4;
}

*:not(.dropdown) :not(span).navLink {
  @apply hover:bg-violet-800
    hover:text-white;
}

.navLink:not(.navHome) {
  @apply w-full px-2 sm:w-auto lg:px-4;
}

/* .nav-home {
} */

/* .dropdown .navLink {
  @apply w-full;
  grid-column: 1 / 3;
} */

.dropdown {
  @apply absolute
      top-full
      right-0
      -mt-0.5
      contents
      w-56
      origin-top-right
      rounded-md
      bg-white
      shadow-lg
      ring-1
      ring-black
      ring-opacity-5
      focus:outline-none;
}

.dropdown .navLink {
  @apply m-auto;
}

.dropdown span.navLink {
  @apply m-auto
    mt-4
    font-semibold
    text-yellow-500;
}

.hyperlink {
  @apply rounded
      font-semibold
      text-violet-700;
}

.hyperlink:focus,
.hyperlink:hover {
  @apply -m-1
      bg-amber-400
      p-1;
}

@media screen(sm) {
  .dropdown {
    @apply block;
  }

  .dropdown .navLink {
    @apply text-gray-900;
  }
}
