@reference "../../styles/index.css";

.hamburger {
  display: inline-flex;
  align-items: center;
  margin: --spacing(4);
  margin-left: auto;
  padding: --spacing(2) --spacing(4);
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  background-color: transparent;
  color: var(--color-white);
  font-weight: 500;
  font-size: var(--text-sm);
}

.hamburger:hover {
  background-color: var(--color-violet-900);
}

.hamburger:focus {
  outline: 1px solid var(--color-amber-500);
  outline-offset: 2px;
}

*:not(.dropdown) .navLink {
  margin: --spacing(4) --spacing(1);
  padding: --spacing(2) --spacing(4);
  border-radius: var(--radius-lg);
  color: var(--color-slate-300);
  white-space: nowrap;
  transition-duration: 100ms;
  transition-property: color, background-color;
  transition-timing-function: var(--ease-in-out);
}

*:not(.dropdown) .navLink:focus {
  outline: 2px solid var(--color-amber-500);
  outline-offset: 2px;
  background-color: var(--color-violet-800);
  color: var(--color-white);
}

*:not(.dropdown) :not(span).navLink:hover {
  background-color: var(--color-violet-800);
  color: var(--color-white);
}

.navLink:not(.navHome) {
  width: 100%;
  padding-inline: --spacing(2);
}

.dropdown {
  display: contents;
  position: absolute;
  top: 100%;
  right: 0;
  width: --spacing(56);
  margin-top: calc(-0.5 * var(--spacing));
  transform-origin: top right;
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  box-shadow: var(--shadow-lg);
}

.dropdown:focus {
  outline: none;
}

.dropdown .navLink {
  margin: auto;
}

.dropdown span.navLink {
  margin: auto;
  margin-top: --spacing(4);
  color: var(--color-yellow-500);
  font-weight: 600;
}

.hyperlink {
  border-radius: var(--radius-sm);
  color: var(--color-violet-700);
  font-weight: 600;
}

.hyperlink:focus,
.hyperlink:hover {
  margin: calc(-1 * var(--spacing));
  padding: --spacing(1);
  background-color: var(--color-amber-400);
}

.transitionsContainer {
  display: grid;
}

.transitionsContainer * {
  grid-area: 1 / -1;
}

.defaultTransition {
  transition:
    grid-template-rows 300ms,
    transform 500ms;
  transition-timing-function: linear;
}

@variant sm {
  .navLink:not(.navHome) {
    width: auto;
  }

  .dropdown {
    display: block;
  }

  .dropdown .navLink {
    color: var(--color-gray-900);
  }
}

@variant md {
  .hamburger {
    display: none;
  }
}

@variant lg {
  *:not(.dropdown) .navLink {
    padding-inline: --spacing(4);
  }

  .navLink:not(.navHome) {
    padding-inline: --spacing(4);
  }
}
