.markdown {
  font-size: theme(fontSize.lg);
  line-height: theme(lineHeight.relaxed);
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin-block: theme(margin.6);
}

.markdown h2 {
  margin-top: theme(margin.12);
  margin-bottom: theme(margin.4);
  font-size: theme(fontSize.3xl);
  line-height: theme(lineHeight.snug);
}

.markdown h3 {
  margin-top: theme(margin.8);
  margin-bottom: theme(margin.4);
  font-size: theme(fontSize.2xl);
  line-height: theme(lineHeight.snug);
}
