.nav {
  display: flex;
  z-index: 3;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    theme("colors.amber.700") 0%,
    theme("colors.violet.700") 5%
  );
}

@screen lg {
  .nav {
    padding-inline: theme(padding.4);
  }
}
