name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  HUSKY: 0

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    services:
      mongo:
        image: mongo:8@sha256:86835e8da0f94efd61334decb320fa43e8a60027688cbd856bf29d065b470338
        ports:
          - 27017:27017
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Git Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Node setup
        uses: ./.github/actions/setup

      - name: generate sw
        run: pnpm run generate.sw

      - name: Build
        run: pnpm build
        env:
          # temporary
          MAPBOX_API_TOKEN: ""
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
          PAYLOAD_SECRET: ${{ secrets.PAYLOAD_SECRET }}
          DATABASE_URI: ${{ vars.DATABASE_URI }}
          NEXT_PUBLIC_SERVER_URL: ${{ vars.NEXT_PUBLIC_SERVER_URL }}
