name: Untagged Docker Image Cleanup

on:
  schedule:
    - cron: "30 1 * * 6"
  workflow_dispatch:

env:
  LEFTHOOK: 0

permissions: {}

jobs:
  cleanup:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/delete-package-versions@e5bc658cc4c965c472efe991f8beea3981499c55 # v5.0.0
        with:
          package-name: ${{ github.event.repository.name }}
          package-type: "container"
          min-versions-to-keep: 10
          delete-only-untagged-versions: "true"
