name: Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: null

env:
  LEFTHOOK: 0

permissions: {}

jobs:
  playwright-test-shard:
    timeout-minutes: 60
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        shardIndex:
          - [1, 1]
          - [2, 2]
          - [3, 3]
          - [4, 4]
          - [5, 5]
          - [6, 6]
          - [7, 7]
          - [8, 8]
          - [9, 9]
          - [1, 10]
          - [2, 11]
          - [3, 12]
          - [4, 13]
          - [5, 14]
          - [6, 15]
          - [7, 16]
          - [8, 17]
          - [9, 18]
        shardTotal: [9]
    name: >
      test-shard (${{ matrix.shardIndex[1] <= matrix.shardTotal && 'dev' || 'prod' }}) -
      (${{ matrix.shardIndex[0] }}, ${{ matrix.shardTotal }})

    container:
      image: mcr.microsoft.com/playwright:v1.58.2@sha256:6446946a1d9fd62d9ae501312a2d76a43ee688542b21622056a372959b65d63d
      options: --user 1001
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Git checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Node setup
        uses: ./.github/actions/setup

      - name: Run Playwright tests (dev)
        if: ${{ matrix.shardIndex[1] <= matrix.shardTotal }}
        run: >
          pnpm exec playwright test
          --shard=${{ matrix.shardIndex[0] }}/${{ matrix.shardTotal }}
        env:
          MAPBOX_API_TOKEN: ${{ secrets.MAPBOX_API_TOKEN }}
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}

      - name: Run Playwright tests (prod)
        if: ${{ matrix.shardIndex[1] > matrix.shardTotal }}
        run: >
          pnpm exec playwright test
          --config playwright.prod.config.ts
          --shard=${{ matrix.shardIndex[0] }}/${{ matrix.shardTotal }}
        env:
          MAPBOX_API_TOKEN: ${{ secrets.MAPBOX_API_TOKEN }}
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}

      - name: Upload playwright report to GitHub Actions Artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: blob-report-${{ matrix.shardIndex[1] }}
          path: blob-report/
          retention-days: 1

  playwright-tests:
    runs-on: ubuntu-24.04
    needs:
      - playwright-test-shard
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: exit 1

      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Git Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Node setup
        uses: ./.github/actions/setup

      - name: Download blob reports from GitHub Actions Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: all-blob-reports
          pattern: blob-report-*
          merge-multiple: true

      - name: Merge into HTML Report
        run: pnpm exec playwright merge-reports --reporter html ./all-blob-reports

      - name: Upload HTML report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: html-report--attempt-${{ github.run_attempt }}
          path: playwright-report
          retention-days: 7
